<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/new_task_about_js.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-success" role="alert">
                <div class="card card-body bg-light">
                    <div class="card card-body bg-light">
                        <div>
                            <h3>Заведующий кафедрой фармацевтической химии БГМУ</h3><br>
                            <p>
                                <img style="margin: 0px 15px 15px; float: left;" title="Яранцева Наталья Дмитриевна"
                                     src="static/photo_2020-10-23_09-53-48.jpg" alt="Яранцева Наталья Дмитриевна"
                                     width="200" height="292">
                            </p>
                            <p><a style="font-size: 18px;" href="https://www.bsmu.by/page/11/2233/">Яранцева Наталья
                                Дмитриевна</a><br>доцент, к.ф.н.</p>
                            <span class="pps_descr">
                            <p>В 2003 году защитила кандидатскую диссертацию: «Исследование ионных ассоциатов 10-алкилпроизводных фенотиазина с трифенилметановыми реагентами и применение их в фармацевтическом анализе». Является автором 65 печатных работ из них 17 статей в рецензируемых журналах, 2 рационализаторских предложения, 2 учебные программы и 3 учебных пособия. Сфера научных интересов: фармацевтический анализ, разработка и валидация методик определения лекарственных веществ, дистанционное обучение, LMS Moodle.</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="alert alert-success" role="alert">
                <div class="card card-body bg-light">
                    <div class="card card-body bg-light">
                        <div>
                            <h3>Заместитель заведующего по научной работе</h3><br>
                            <p>
                                <img style="margin: 0px 15px 15px; float: left;" title="Авсейко Мария Васильевна"
                                     src="static/hE8uSoXmUzI.jpg" alt="Авсейко Мария Васильевна"
                                     width="200" height="202">
                            </p>
                            <p><span style='font-size: 18px;'>Авсейко Мария
                                Васильевна</span><br>ассистент</p>
                            <span class="pps_descr">
                            <p>С отличием закончила фармацевтический факультет УО БГМУ. В 2016 году прошла стажировку на производственной площадке ГК «Р-Фарм» по программе «Организация производства и обеспечение качества в соответствии с требованиями GMP».
                                Включена в Банк данных одарённой молодёжи.
                                Автор более 20 печатных работ.</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
