<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/new_task_about_js.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-body bg-light" align="center">
                <h3>
                    <div class="card card-body bg-light">
                        <form method="post" action="/doctor_1">
                            <div class="form-group">
                                <nav class="navbar navbar-light bg-light justify-content-between">
                                    <a class="navbar-brand">Введите лекарственное средство (МНН).</a>
                                    <form class="form-inline">
                                        <input class="form-control mr-sm-2" name='drug' type="search"
                                               placeholder="Search"
                                               aria-label="Search">
                                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск
                                        </button>
                                    </form>
                                </nav>
                            </div>
                        </form>
                    </div>
                </h3>
                <div class="alert alert-success" role="alert">
                    <h3>Рекомендации медицинским и фармацевтическим работникам:</h3>
                    <div>1) При сравнении ЛС, которые одинаково безопасны и хорошо подходят для лечения пациента,
                    рекомендуется учитывать кроме их фармацевтических свойств и воздействие на окружающую среду. Для этого
                        рекомендуем пользоваться экологическим классификаторов ЛС.</div>
                    <div>2) Не выписывайте лекарств больше, чем их может быть использовано. При сомнении предпочтительным
                        будет повторная выписка того же рецепта.</div>
                    <div>3) Уточняйте у медицинских представителей информацию о воздействии препаратов на окружающую
                        среду.</div>
                    <div>4) Узнайте, какие из рекомендуемых вами препаратов имеют наибольшее воздействие на окружающую
                    среду. Среди ЛС, определённых протоколами (стандартами) обследования и лечения больных, уточните,
                        могут ли более опасные для окружающей среды быть заменены на менее опасные и на какие.</div>
                    <div>5) Проинформируйте ваших пациентов об опасности отходов ЛС для окружающей среды.</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>