<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/new_task_about_js.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-success" role="alert">
                <div class="card card-body bg-light">
                    <div class="card card-body bg-light">
                        <p><a style="font-size: 18px;" href="https://www.ecoidea.by/ru">1) Центр Экологических Решений</a><br></p>
                        <p><a style="font-size: 18px;" href="https://1prof.by/news/v-strane/k-poryadku-v-aptechke-v-2021-m-prosrochennye-lekarstva-mozhno-budet-sdat/">2) В 2021-м просроченные лекарства можно будет сдать.</a><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>