<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/new_task_about_js.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-body bg-light" align="center">
                <h3>
                    <div class="card card-body bg-light">
                        <form method="post" action="/patient_1">
                            <div class="form-group">
                                <nav class="navbar navbar-light bg-light justify-content-between">
                                    <a class="navbar-brand">Введите лекарственное средство (МНН).</a>
                                    <form class="form-inline">
                                        <input class="form-control mr-sm-2" name='drug' type="search" placeholder="Search"
                                               aria-label="Search">
                                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск
                                        </button>
                                    </form>
                                </nav>
                            </div>
                        </form>
                    </div>
                </h3>
                <div class="alert alert-success" role="alert">
                    <h3>Советы для пациентов:</h3>
                    <div>1) Покупайте лекарственные средства в строго необходимом количестве с учётом их срока годности.</div>
                    <div>2) Возвращайте неиспользованные или испорченные / просроченные опасные для окружающей среды
                        препараты в пункты приёма, если таковые созданы. Помните о вреде от смывания их в канализацию.</div>
                    <div>3) Обратите внимание на необходимость придерживаться инструкции, прилагаемой к препарату при его
                        использовании.</div>
                    <div>4) Выбрасывайте пустые стеклянные и картонные упаковки из-под лекарств в контейнеры для
                        переработки.</div>
                    <div>5) Помните о соблюдении правил хранения ЛС.</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>